.container{
    width: 100%;
    padding: 3% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.containerTexto{
    width: 1%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.subTitulo{
    width: 571px;
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    font-weight: 800;
}

.texto1{
    width: 472px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

.texto2{
    width: 472px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.imgProjeto{
    width: 570px;
}