.container{
    width: 100%;
    background-color: #d99036;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.containerTexto{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.subTitulo{
    width: 472px;
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    font-weight: 800;
    text-align: left;
}

.textoApoio{
    width: 390px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-align: left;
}

.botaoAjuda{
    display: flex;
    align-items: center;
}